In [1]:
# declaring a list
# list can contain multiple items
l = [1,345,45,"sudh",True,5+7j, 345.456]

In [2]:
# type of variable
type(l)

list

In [3]:
## accesing element with index
l[0]

1

In [4]:
# slicing from 0 to 3 index
l[0:3]

[1, 345, 45]

In [5]:
## it will give element at index last one 
l[-1]

345.456

In [6]:
## it will give all the element from last to first
l[::-1]

[345.456, (5+7j), True, 'sudh', 45, 345, 1]

In [7]:
## it will give element on even index from starting to end 
l[::2]

[1, 45, True, 345.456]

In [8]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456]

In [9]:
s = "pwskills"
l+s

TypeError: can only concatenate list (not "str") to list

In [10]:
## here s is converting into a list then add with another list
list(s) + l

['p',
 'w',
 's',
 'k',
 'i',
 'l',
 'l',
 's',
 1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456]

In [11]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456]

In [12]:
## we need only 'su' 
l[3][0:2]

'su'

In [13]:
# type of su
type(l[3][0:2])

str

In [14]:
## we conver bool into str then we slice 
str(l[4])[0:2]

'Tr'

In [15]:
l + 5

TypeError: can only concatenate list (not "int") to list

In [16]:
l1 = [3,4,5]

In [17]:
## we can add a list with a list
l + l1

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 3, 4, 5]

In [18]:
## if we ,ultiply a list with a numbebr it will give the same list multiple that number of times
l1 * 3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [19]:
## it will give the length of list
len(l)

7

In [20]:
## it will append in list at last
l.append(5)

In [21]:
l.append(s)

In [22]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 5, 'pwskills']

In [23]:
l.remove("pwskills")

In [24]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 5]

In [25]:
l1 = [3,4,5]

In [26]:
l.append(l1)

In [27]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 5, [3, 4, 5]]

In [28]:
l[-1][1]

4

In [29]:
## extend function
## data should be itrable that means data inside data then it will extend 
l.extend(4)

TypeError: 'int' object is not iterable

In [30]:
l.extend("sudh")

In [31]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 5, [3, 4, 5], 's', 'u', 'd', 'h']

In [32]:
## it will unwrap the list then insert into list
l.extend([3,4,5])

In [33]:
## insert function
## it insert data should be data at a specific position
l1.insert(1,"sudh")

In [34]:
l1

[3, 'sudh', 4, 5]

In [35]:
l1.insert(2,[2,3,4])

In [36]:
l1.insert(-1,45)

In [37]:
l1.insert(0,45)

In [38]:
l1

[45, 3, 'sudh', [2, 3, 4], 4, 45, 5]

In [39]:
## deleteing data from list

In [40]:
## pop function 
## it will remove data from last index by default index is last
l1.pop()

5

In [41]:
l1

[45, 3, 'sudh', [2, 3, 4], 4, 45]

In [42]:
l1.pop()

45

In [43]:
l1

[45, 3, 'sudh', [2, 3, 4], 4]

In [44]:
## it remove data from 3rd index
l1.pop(3)

[2, 3, 4]

In [45]:
l1

[45, 3, 'sudh', 4]

In [46]:
## remove function
## it will remove the value 
l1.remove(3)

In [47]:
l1

[45, 'sudh', 4]

In [48]:
l1.remove(234)

ValueError: list.remove(x): x not in list

In [49]:
## it will remove the data from list inside a list
l1[2].remove(3)

AttributeError: 'int' object has no attribute 'remove'

In [50]:
## sudh se dh remove karo -> not possible
## string is a immutable object thats why it is not possible

In [51]:
l1 = l1[::-1]

In [52]:
l1

[4, 'sudh', 45]

In [53]:
l1.reverse()

In [54]:
## it will give permanent reverse
l1.reverse()

In [55]:
l1.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [56]:
l2 = [3,4,5,67,7,8,9]

In [57]:
## it will sort the list and permanent change in same list
l2.sort()

In [58]:
l2

[3, 4, 5, 7, 8, 9, 67]

In [59]:
l2

[3, 4, 5, 7, 8, 9, 67]

In [60]:
## it will sort the list and permanent change in same list
l2.sort()

In [61]:
l4 = ["sudh","kumar","pwskills","data science"]

In [62]:
l4.sort()

In [63]:
l4

['data science', 'kumar', 'pwskills', 'sudh']

In [64]:
## reverse  order sorting
l4.sort(reverse=True)

In [65]:

l4

['sudh', 'pwskills', 'kumar', 'data science']

In [66]:
## it will return index
l4.index("pwskills")

1

In [67]:
## it will return frequency
l4.count("sudh")

1

In [68]:
s = "sudh"

In [69]:
l5 = [3,4,5,6]

In [70]:

s[0]='a'

TypeError: 'str' object does not support item assignment

In [71]:
l5[0]= 30

In [72]:
l5

[30, 4, 5, 6]

In [73]:
s = "sudh"

In [74]:
s

'sudh'

In [75]:
## this is creating new object it does not mutate 
s.replace('s','a')

'audh'

In [76]:
s

'sudh'