## function

In [11]:
def test1():
    print("this is my very very first function")

In [12]:
test1()

this is my very very first function

In [13]:
## 
def test():
    pass

In [14]:
test()

In [15]:
## print always return NoneType

In [16]:
def test1():
    print("good")

In [18]:
test1() + "morning"

good

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [19]:
def test1():
    return "hello"

In [21]:
test1() + " world"

'hello world'

In [22]:
def test3():
    return "sudh" , 23 , 345.5 , [1,2,3,3]

In [23]:
test3()

('sudh', 23, 345.5, [1, 2, 3, 3])

In [28]:
a,b,c,d= test3()
a,b,c,d

('sudh', 23, 345.5, [1, 2, 3, 3])

In [32]:
a = 1
b = 4

In [31]:
a  , b

(1, 4)

In [33]:
a, b = 1 , 4

In [34]:
a , b

(1, 4)

In [35]:
def test4():
    a = 5 + 6 + 7
    return a

In [36]:
test4()

18

In [37]:
def test5(a , b , c ):
    d = a +  b / c
    return d

In [38]:
test5(343,44,4)

354.0

In [39]:
def test6(a,b):
    return a+b

In [40]:
test6(3,4)

7

In [41]:
test6([1,2,3,4,5] , [4,5,6])

[1, 2, 3, 4, 5, 4, 5, 6]

In [42]:
l1 = test6([1,2,3,4,5],[2,3,4,5,6])

In [43]:
l1

[1, 2, 3, 4, 5, 2, 3, 4, 5, 6]

In [49]:
l = [1,2,3,4,"sudh","kumar",[1,2,3,4,5,6]]

In [50]:
def test7(l):
    l1 = []
    for i in l:
        if type(i) == int or type(i) == float :
            l1.append(i)
    return l1

In [51]:
test7(l)

[1, 2, 3, 4]

In [52]:
l

[1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6]]

In [ ]:
def test8(a):
    l = []
    for i in a:
        if type(i) == list:
            for j in i:
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [54]:

test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [57]:
def test9(a):
    """this is my fuction to extract num data from list"""
    l = []
    for i in a:
        if type(i) == list:
            for j in i:
                l.append(j)
        else :
            if type(i) == int or type(i) == float :
                l.append(i)
    return l

In [59]:
def test10(*args):
    return args

In [60]:
type(test10())

tuple

In [61]:
test10(1,2,3,4,54,56,6,76,7)

(1, 2, 3, 4, 54, 56, 6, 76, 7)

In [63]:
test10(1,2,4,"shubham",[5467,87654])

(1, 2, 4, 'shubham', [5467, 87654])

In [68]:
def test(*args , k):
    return args, k

In [70]:
test(3,68,9 , k=66)

((3, 68, 9), 66)

In [72]:
def test14(c,d, a=40 ,b =5):
    return a,b,c,d

In [73]:
test14(3,4)

(40, 5, 3, 4)

In [74]:
## when we use dictionary format
def test15(**kargs):
    return kargs

In [75]:
type(test15())

dict

In [76]:
test15(a = [1,2,3,4] , b = "shubham" , c = 23.45)

{'a': [1, 2, 3, 4], 'b': 'shubham', 'c': 23.45}