## Measure of central tendency

In [1]:

## Mean (Average)
age = [12,21,23,45,65,43,56,45,32,67,54,34]

In [2]:
import numpy as np

In [3]:
x = np.mean(age)
print(x)

41.416666666666664

In [4]:
weight = [54, 45,34,54,34,67,54,56,75]

In [5]:
np.mean(weight)

np.float64(52.55555555555556)

In [23]:
import seaborn as sns

In [24]:
df = sns.load_dataset('tips')

In [25]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [26]:
np.mean(df["total_bill"])

np.float64(19.78594262295082)

In [27]:
## Median
np.median(age)

np.float64(44.0)

In [28]:
age = [12,21,23,45,65,43,56,45,32,67,54,340]

In [29]:
np.median(age)

np.float64(45.0)

In [31]:
## for mode 
from scipy import stats

In [32]:
stats.mode(age)

ModeResult(mode=np.int64(45), count=np.int64(2))