In [5]:
# declaring a list
# list can contain multiple items
l = [1,345,45,"sudh",True,5+7j, 345.456]

In [6]:
# type of variable
type(l)

list

In [ ]:
## accesing element with index
l[0]

1

In [9]:
# slicing from 0 to 3 index
l[0:3]

[1, 345, 45]

In [10]:
l[-1]

345.456

In [11]:
l[::-1]

[345.456, (5+7j), True, 'sudh', 45, 345, 1]

In [12]:
l[::2]

[1, 45, True, 345.456]

In [13]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456]

In [14]:
# we can not concatenate list with a string
s = "pwskills"
l+s

TypeError: can only concatenate list (not "str") to list

In [15]:
list(s) + l

['p',
 'w',
 's',
 'k',
 'i',
 'l',
 'l',
 's',
 1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456]

In [16]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456]

In [ ]:
## we need only 'su' 
l[3][0:2]

'su'

In [18]:
# type of su
type(l[3][0:2])

str

In [20]:
## we conver bool into str then we slice 
str(l[4])[0:2]

'Tr'

In [21]:
l + 5

TypeError: can only concatenate list (not "int") to list

In [22]:
l1 = [3,4,5]

In [24]:
## we can add a list with a list
l + l1

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 3, 4, 5]

In [26]:
## if we ,ultiply a list with a numbebr it will give the same list multiple that number of times
l1 * 3

[3, 4, 5, 3, 4, 5, 3, 4, 5]

In [28]:
## it will give the length of list
len(l)

7

In [29]:
## it will append in list at last
l.append(5)

In [31]:
l.append(s)

In [32]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 5, 'pwskills', 'pwskills']

In [33]:
l.remove("pwskills")

In [34]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 5, 'pwskills']

In [35]:
l1 = [3,4,5]

In [36]:
l.append(l1)

In [37]:
l

[1, 345, 45, 'sudh', True, (5+7j), 345.456, 5, 'pwskills', [3, 4, 5]]

In [39]:
l[-1][1]

4

In [ ]:
## extend function
## data should be itrable that means data inside data 
l.extend(4)

TypeError: 'int' object is not iterable

In [41]:
l.extend("sudh")

In [42]:
l

[1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456,
 5,
 'pwskills',
 [3, 4, 5],
 's',
 'u',
 'd',
 'h']

In [45]:
## it will unwrap the list then insert into list
l.extend([3,4,5])

In [46]:
l

[1,
 345,
 45,
 'sudh',
 True,
 (5+7j),
 345.456,
 5,
 'pwskills',
 [3, 4, 5],
 's',
 'u',
 'd',
 'h',
 3,
 4,
 5,
 3,
 4,
 5]

In [49]:
l1

[3, 4, 5]

In [50]:
## insert function
## it insert data should be data at a specific position
l1.insert(1,"sudh")

In [51]:
l1

[3, 'sudh', 4, 5]

In [54]:
l1.insert(2,[2,3,4])

In [55]:
l1

[3, 'sudh', [2, 3, 4], [2, 3, 4], 4, 5]

In [56]:
l1.insert(-1,45)

In [57]:
l1

[3, 'sudh', [2, 3, 4], [2, 3, 4], 4, 45, 5]

In [58]:
l1.insert(0,45)

In [59]:
l1

[45, 3, 'sudh', [2, 3, 4], [2, 3, 4], 4, 45, 5]

In [60]:
## deleteing data from list

In [61]:
## pop function 
## it will remove data from last index by default index is last
l1.pop()

5

In [62]:
l1

[45, 3, 'sudh', [2, 3, 4], [2, 3, 4], 4, 45]

In [63]:
l1.pop()

45

In [64]:
l1

[45, 3, 'sudh', [2, 3, 4], [2, 3, 4], 4]

In [ ]:
## it remove data from 3rd index
l1.pop(3)

[2, 3, 4]

In [66]:
l1

[45, 3, 'sudh', [2, 3, 4], 4]

In [ ]:
## remove function
## it will remove the value 
l1.remove(3)

In [80]:
l1

[45, 'sudh', [2, 4], 4]

In [79]:
l1.remove(234)

ValueError: list.remove(x): x not in list

In [81]:
## it will remove the data from list inside a list
l1[2].remove(3)

ValueError: list.remove(x): x not in list

In [74]:
## sudh se dh remove karo -> not possible
## string is a immutable object thats why it is not possible

In [83]:
l1 = l1[::-1]

In [86]:
l1

[4, [2, 4], 'sudh', 45]

In [87]:

l1.reverse()

In [88]:
l1

[45, 'sudh', [2, 4], 4]

In [90]:
## it will give permanent reverse
l1.reverse()

In [91]:
l1.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [93]:
l2 = [3,4,5,67,7,8,9]

In [ ]:
## it will sort the list and permanent change in same list
l2.sort()

In [95]:
l2

[3, 4, 5, 7, 8, 9, 67]

In [96]:
l4 = ["sudh","kumar","pwskills","data science"]

In [97]:

l4.sort()

In [98]:
l4

['data science', 'kumar', 'pwskills', 'sudh']

In [99]:
## reverse  order sorting
l4.sort(reverse=True)

In [100]:

l4

['sudh', 'pwskills', 'kumar', 'data science']

In [103]:
## it will return index
l4.index("pwskills")

1

In [104]:
## it will return frequency
l4.count("sudh")

1

In [105]:
s = "sudh"

In [106]:
l5 = [3,4,5,6]

In [ ]:

s[0]='a'

TypeError: 'str' object does not support item assignment

In [108]:
l5[0]= 30

In [109]:
l5

[30, 4, 5, 6]

In [110]:
s = "sudh"

In [111]:
s

'sudh'

In [ ]:
## this is creating new object it does not mutate 
s.replace('s','a')

In [115]:
s

'sudh'

In [119]:
## this is tuple
t = (2,3,4,5,"sudh",45.56,False, 45+345j,[3,4,5])

In [120]:
t

(2, 3, 4, 5, 'sudh', 45.56, False, (45+345j), [3, 4, 5])

In [121]:
## 
type(t)

tuple

In [122]:
len(t)

9

In [123]:
t[0]

2

In [124]:
t[-1]

[3, 4, 5]

In [125]:
t[::-1]

([3, 4, 5], (45+345j), False, 45.56, 'sudh', 5, 4, 3, 2)

In [126]:
l4

['sudh', 'pwskills', 'kumar', 'data science']

In [127]:
l4[0]=23424

In [128]:
l4

[23424, 'pwskills', 'kumar', 'data science']

In [129]:
t

(2, 3, 4, 5, 'sudh', 45.56, False, (45+345j), [3, 4, 5])

In [130]:
t[0]

2

In [ ]:
## tuples are immutable
t[0] ="sudh"

TypeError: 'tuple' object does not support item assignment

In [135]:
t.count("sudh")

1

In [133]:
t.index("sudh")

4

In [134]:
t.index(False)

6

In [137]:
## set
s1 = {}

In [138]:

type(s1)

dict

In [139]:
s2={2,3,4,55,6}

In [140]:
type(s2)

set

In [141]:
s3={324,456,456,"sudh",45.465,(3,4,5)}

In [142]:
s3

{(3, 4, 5), 324, 45.465, 456, 'sudh'}

In [143]:
s3={324,456,6678,[77,99,44]}

TypeError: unhashable type: 'list'

In [144]:
s4={222334,2234,234,234,234,"sudgh","dgfhjy"}

In [145]:
s4

{222334, 2234, 234, 'dgfhjy', 'sudgh'}

In [148]:
l6 = list(set(s4))

In [150]:
l6

['sudgh', 'dgfhjy', 2234, 234, 222334]

In [151]:
type(l6)

list

In [152]:
s5 = {234,45,23,12,567,45,2,789}

In [ ]:
## indexing concept gives error for set  
## indexing not allow
s5[0]

TypeError: 'set' object is not subscriptable

In [ ]:
##### add 66 in set
s5.add(66)

In [156]:
s5

{2, 12, 23, 45, 66, 234, 567, 789}

In [157]:
s5

{2, 12, 23, 45, 66, 234, 567, 789}

In [ ]:
## remove 45 from set
s5.remove(45)

In [159]:
s5

{2, 12, 23, 66, 234, 567, 789}